body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(135deg, #0B0014, #1A002B, #3A0066); /* casi negro con violeta */
  color: white;
}

section {
  padding: 50px;
}

h1, h2, h3 {
  color: white;
  text-shadow: 0 0 8px rgba(255,255,255,0.5);
}

a, button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}
